.navbar-title,.sidebar-button{
    cursor: pointer;
}
.sidebar-button{
    margin-left:10px;
}
.navbar-logout{
    margin-right:10px;
}
.row {
    --bs-gutter-x: 0rem;
}
.profile-container,.chart-container,
.calendar-container,.time-container{
    padding: 5px;
}
.react-calendar {
    width: 100% !important;
}
.react-calendar__tile{
    height: 120px;
}

.table-chart{
    overflow: auto;
    max-height: 450px;
    min-height: 450px;
}
/* HIDE RADIO */
[name="userType"] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

/* IMAGE STYLES */
[name="userType"] + img {
    cursor: pointer;
}

/* CHECKED STYLES */
[name="userType"]:checked + img {
    outline: 2px solid #f00;    
}

.usertype-img{
    width: 150px;
    height: 150px;
}

.usertype-container{
    margin: 10px;
    border-radius: 10px;
}

.signup-info-container{
    padding: 10px;
}

.signup-owner{
    border-left: 1px solid black;
}
#signup-admin-info,#other-type{
    display: none;
}
.form-group.required .form-label:after {
    content:"*";
    color:red;
}

#usertype-owner{
    border: 1px solid #0000FF;
}
.login-container,.reset-password-container {
    max-width: 400px;
    position: absolute;
}
.signup-container {
    max-width: 1000px;
    padding: 10px;
    position: absolute;
}
.loading-spinner{
    z-index: 9999;
}

.message-send-btn{
    float: right;
}

.contact-info-icon {
    font-size: 40px;
    background-color: #7c7cff;
    width: 70px;
    height: 70px;
    border-radius: 51px;
    padding-left: 15px;
}
.contact-info-align {
    display: inline-block;
}
.contact-info-details{
    margin-left:10px;
}
.contact-title {
    font-size: 50px;
    color: black;
    position: absolute;
    bottom: 0;
    left: 10px;
}
.contact-container .bg-dark{
    border: 5px solid #f9f9f9;
}
.contact-container{
    border-radius: 20px;
    margin-top: 20px;
    background-color: #f9f9f9;
}
.contact-info-container{
    padding: 20px;
}
.contact-info-details-container{
    margin-bottom: 25px;
}
.contact-message-header{
    border-bottom: 1px solid black;
}
.navbar-profile-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.navbar-profile-name{
    font-size: 30px;
    text-align: center;
}
.navbar-profile-container{
    align-items: center;
}