.navbar-title,.sidebar-button{
    cursor: pointer;
}
.sidebar-button{
    margin-left:10px;
}
.navbar-logout{
    margin-right:10px;
}
.row {
    --bs-gutter-x: 0rem;
}
.profile-container,.chart-container{
    padding: 5px;
}